.top-bar, .top-bar-left ul, .top-bar-right ul {
  background-color: $nav-background;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  a {
    color: $nav-link-color;
  }

  a .active-link, a:focus, a:hover {
    color: $nav-active-link-color;
  }
}
